{% extends 'base.html' %}
{% load static %}

{% block title %}Товар{% endblock title %}
{% block nav %}
    {% if perms.webapp.change_product and perms.webapp.delete_product %}
        <li class="nav-item">
            <a class="nav-link text-light" href="{% url "webapp:product_update" product.id %}">Редактировать товар</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="{% url "webapp:product_delete" product.id %}">Удалить товар</a>
        </li>
    {% endif %}
{% endblock nav %}
{% block content %}
    <div class="container mb-5 text-start" style="color: #020142">
        <br>
        {% if product.picture %}
            <img class="cart-img-top" style="height: 400px; width: 400px" src="{{ product.picture.url }}"
                 alt="user avatar">
        {% else %}
            <img src="{% static 'img/img1.jpg' %}" alt=" no photo">
        {% endif %}
        <h2>Товар : {{ product.title }} </h2>
        <h2>Рейтинг: {{ product.get_rate }}</h2>
        <h2>Категория: {{ product.get_category_display }} </h2>
        {% if product.description %}
            <h4>Описание: {{ product.description }} </h4>
        {% else %}
            <h4>Описание отсвутствует</h4>
        {% endif %}
        <a href="{% url 'webapp:review_create' product.pk %}" class="btn btn-primary fs-5">Добавить отзыв</a>
    </div>
    <h2>Отзывы на этот товар:</h2>
    {% include 'review/reviews_list.html' %}
{% endblock content %}